/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #222;
  color: #f1f1f1;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

/* Header styles */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  background-color: #181818;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

header h1 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

header p {
  color: #fff;
  font-weight: 600;
  margin-left: 1rem;
}

nav {
  display: inline-block;
  float: right;
  margin-right: 4rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  font-weight: bold;
}

nav a:hover {
  color: #f1f1f1;
  background-color: #333;
  padding: 8px 16px;
  border-radius: 4px;
}

/* Main content styles */
main {
  padding-top: calc(4.5rem + 5rem);
}
.main-title {
  text-align: center;
  margin-bottom: 3rem;
}

.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.game-info img {
  max-width: 45%;
  border-radius: 6px;
  margin-right: 1rem;
}

.game-info h2, .game-info p {
  max-width: 50%;
}

.game-features {
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

h2, h3 {
  margin-bottom: 1rem;
  color: #f8b739;
}

/* Footer styles */
footer {
  background-color: #181818;
  padding: 2rem;
  text-align: center;
  margin-top: 2rem;
}

footer h2, footer p {
  color: #f1f1f1;
}

.email-box {
  position: relative;
  display: inline-block;
}

footer input[type="email"] {
  padding: 0.5rem;
  font-size: 0.9rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  width: 300px;
}

footer button {
  position: absolute;
  right: 0;
  top:0;
  padding: 0.5rem;
  background-color: #f8b739;
  color: #f1f1f1;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease-in-out;
  }
  
  footer button:hover {
  background-color: #e49b27;
  }
  
  .first-section {
  padding-top: 4rem;
  }
  
  .page-content {
  padding-top: 6rem;
  }
  
  /* Review Section */
  .reviews-section {
  margin-bottom: 2rem;
  }
  
  .review {
  padding: 1rem;
  background-color: #333;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  
  .review:last-child {
  margin-bottom: 0;
  }
  
  .review h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  }
  
  .review p {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: #f1f1f1;
  }
  
  .review .review-rating {
  margin-bottom: 1rem;
  }
  
  .review .review-rating span {
  font-size: 1.5rem;
  color: #f8b739;
  }
  
  .review .review-rating span:not(:last-child) {
  margin-right: 0.5rem;
  }
  
  /* Review Form Section */
  .review-form-section {
  padding: 2rem;
  background-color: #222;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .review-form-section form {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  }
  
  .review-form-section label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.25rem;
  }
  
  .review-form-section input,
  .review-form-section select,
  .review-form-section textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  background-color: #333;
  color: #f1f1f1;
  }
  
  .review-form-section button {
  background-color: #f8b739;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 1rem;
  }
  
  .review-form-section button:hover {
  background-color: #e49b27;
  }
  
  
